package {{.PKG}}

import (
    "{{.ModelPKG}}"
    repo "{{.RepoPKG}}"
    "github.com/golang-acexy/cloud-database/databasecloud"
    "github.com/golang-acexy/cloud-database/databasecloud/rds"
    "github.com/golang-acexy/cloud-web/webcloud"
)

var {{.ParamName}}BizService = &{{.StructName}}BizService{
    repo: repo.New{{.StructName}}Repo(),
}

func New{{.StructName}}BizService() *{{.StructName}}BizService {
    return {{.ParamName}}BizService
}

type {{.StructName}}BizService struct {
    repo repo.{{.StructName}}Repo
}

func (v *{{.StructName}}BizService) MaxQuerySize() int {
    return {{.MaxQuerySize}}
}

func (v *{{.StructName}}BizService) DefaultOrderBy() string {
    return {{printf "%q" .DefaultOrderBy}}
}

func (v *{{.StructName}}BizService) Save(save *model.{{.StructName}}SDTO) ({{.IDType}}, error) {
    if save == nil {
        return 0, webcloud.ErrBadRequestParameters
    }
    entity, err := save.ToT()
    if err != nil {
        return 0, err
    }
    if _, err = v.repo.SaveWithoutZeroFields(entity); err != nil {
        return 0, err
    }
    return entity.ID, nil
}

func (v *{{.StructName}}BizService) BaseQueryByID(condition map[string]any) (*model.{{.StructName}}DTO, error) {
    var entity model.{{.StructName}}
    row, err := v.repo.QueryOneByMap(condition, &entity)
    if err != nil || row == 0 {
        return nil, err
    }
    return entity.ToDTO()
}

func (v *{{.StructName}}BizService) BaseQueryOne(condition map[string]any) (*model.{{.StructName}}DTO, error) {
    var entity model.{{.StructName}}
    row, err := v.repo.QueryOneByMap(condition, &entity)
    if err != nil || row == 0 {
        return nil, err
    }
    return entity.ToDTO()
}

func (v *{{.StructName}}BizService) BaseQuery(condition map[string]any) ([]*model.{{.StructName}}DTO, error) {
    entities := make([]*model.{{.StructName}}, 0)
    db, err := v.repo.TableGORMDB()
    if err != nil {
        return nil, err
    }
    err = db.Where(condition).Order(v.DefaultOrderBy()).Limit(v.MaxQuerySize()).Scan(&entities).Error
    if err != nil {
        return nil, err
    }
    return model.{{.StructName}}Slice(entities).ToDTOs()
}

func (v *{{.StructName}}BizService) BaseQueryPage(condition map[string]any, pager *webcloud.Pager[model.{{.StructName}}DTO]) error {
    countDB, err := v.repo.TableGORMDB()
    if err != nil {
        return err
    }
    if err = countDB.Where(condition).Count(&pager.Total).Error; err != nil || pager.Total == 0 {
        return err
    }
    entities := make([]*model.{{.StructName}}, 0, pager.Size)
    pageDB, err := v.repo.TableGORMDB()
    if err != nil {
        return err
    }
    if err = pageDB.Where(condition).
        Order(v.DefaultOrderBy()).
        Limit(pager.Size).
        Offset((pager.Number - 1) * pager.Size).
        Scan(&entities).Error; err != nil {
        return err
    }
    records, err := model.{{.StructName}}Slice(entities).ToDTOs()
    if err != nil {
        return err
    }
    pager.Records = records
    return nil
}

func (v *{{.StructName}}BizService) BaseModifyByID(update, condition map[string]any) (int64, error) {
    return v.repo.ModifyByMap(update, condition)
}

func (v *{{.StructName}}BizService) BaseRemoveByID(condition map[string]any) (int64, error) {
    return v.repo.RemoveByMap(condition)
}

func (v *{{.StructName}}BizService) QueryByID(id {{.IDType}}) (*model.{{.StructName}}DTO, error) {
    var entity model.{{.StructName}}
    row, err := v.repo.QueryByID(id, &entity)
    if err != nil || row == 0 {
        return nil, err
    }
    return entity.ToDTO()
}

func (v *{{.StructName}}BizService) QueryOneByCond(condition *model.{{.StructName}}QDTO) (*model.{{.StructName}}DTO, error) {
    if condition == nil {
        return nil, webcloud.ErrBadRequestParameters
    }
    entityCondition, err := condition.ToT()
    if err != nil {
        return nil, err
    }
    var entity model.{{.StructName}}
    row, err := v.repo.QueryOneByCond(entityCondition, &entity)
    if err != nil || row == 0 {
        return nil, err
    }
    return entity.ToDTO()
}

func (v *{{.StructName}}BizService) QueryByCond(condition *model.{{.StructName}}QDTO) ([]*model.{{.StructName}}DTO, error) {
    if condition == nil {
        return nil, webcloud.ErrBadRequestParameters
    }
    entityCondition, err := condition.ToT()
    if err != nil {
        return nil, err
    }
    entities := make([]*model.{{.StructName}}, 0)
    if _, err = v.repo.QueryByCond(entityCondition, v.DefaultOrderBy(), &entities); err != nil {
        return nil, err
    }
    return model.{{.StructName}}Slice(entities).ToDTOs()
}

func (v *{{.StructName}}BizService) QueryPage(pager webcloud.PagerDTO[model.{{.StructName}}QDTO]) (webcloud.Pager[model.{{.StructName}}DTO], error) {
    condition, err := pager.Condition.ToT()
    if err != nil {
        return webcloud.Pager[model.{{.StructName}}DTO]{}, err
    }
    page := databasecloud.Pager[model.{{.StructName}}]{
        Number: pager.Number,
        Size:   pager.Size,
    }
    if err = v.repo.QueryPageByCond(condition, rds.PageQuery{OrderBySQL: v.DefaultOrderBy()}, &page); err != nil {
        return webcloud.Pager[model.{{.StructName}}DTO]{}, err
    }
    records, err := model.{{.StructName}}Slice(page.Records).ToDTOs()
    if err != nil {
        return webcloud.Pager[model.{{.StructName}}DTO]{}, err
    }
    return webcloud.Pager[model.{{.StructName}}DTO]{
        Records: records,
        Total:   page.Total,
        Number:  page.Number,
        Size:    page.Size,
    }, nil
}

func (v *{{.StructName}}BizService) ModifyByID(id {{.IDType}}, updated *model.{{.StructName}}MDTO) (int64, error) {
    if updated == nil {
        return 0, webcloud.ErrBadRequestParameters
    }
    entity, err := updated.ToT()
    if err != nil {
        return 0, err
    }
    entity.ID = id
    return v.repo.ModifyByID(entity)
}

func (v *{{.StructName}}BizService) ModifyByIDWithoutZeroFields(id {{.IDType}}, updated *model.{{.StructName}}MDTO) (int64, error) {
    if updated == nil {
        return 0, webcloud.ErrBadRequestParameters
    }
    entity, err := updated.ToT()
    if err != nil {
        return 0, err
    }
    entity.ID = id
    return v.repo.ModifyByIDWithoutZeroFields(entity)
}

func (v *{{.StructName}}BizService) ModifyByIDWithMap(id {{.IDType}}, updated map[string]any) (int64, error) {
    if len(updated) == 0 {
        return 0, webcloud.ErrBadRequestParameters
    }
    return v.repo.ModifyByIDWithMap(updated, id)
}

func (v *{{.StructName}}BizService) RemoveByID(id {{.IDType}}) (int64, error) {
    return v.repo.RemoveByID(id)
}

func (v *{{.StructName}}BizService) RemoveByCond(condition *model.{{.StructName}}QDTO) (int64, error) {
    if condition == nil {
        return 0, webcloud.ErrBadRequestParameters
    }
    entity, err := condition.ToT()
    if err != nil {
        return 0, err
    }
    return v.repo.RemoveByCond(entity)
}

func (v *{{.StructName}}BizService) RemoveByMap(condition map[string]any) (int64, error) {
    if len(condition) == 0 {
        return 0, webcloud.ErrBadRequestParameters
    }
    return v.repo.RemoveByMap(condition)
}
