// {{.ModelStructName}}SDTO 定义保存操作允许接收的字段。
type {{.ModelStructName}}SDTO struct {
{{- range .Fields }}
    {{- if not (call $.IsSExcluded .Name) }}
    {{.Name}} {{.Type}} `{{.Tags}}`
    {{- end }}
{{- end }}
}

// {{.ModelStructName}}MDTO 定义修改操作允许接收的字段。
type {{.ModelStructName}}MDTO struct {
{{- range .Fields }}
    {{- if not (call $.IsMExcluded .Name) }}
    {{.Name}} {{.Type}} `{{.Tags}}`
    {{- end }}
{{- end }}
}

// {{.ModelStructName}}QDTO 定义查询操作允许接收的字段。
type {{.ModelStructName}}QDTO struct {
{{- range .Fields }}
    {{- if not (call $.IsQExcluded .Name) }}
    {{.Name}} {{.Type}} `{{.Tags}}`
    {{- end }}
{{- end }}
}

// {{.ModelStructName}}DTO 定义允许返回的字段。
type {{.ModelStructName}}DTO struct {
{{- range .Fields }}
    {{- if not (call $.IsDExcluded .Name) }}
    {{.Name}} {{.Type}} `{{.Tags}}`
    {{- end }}
{{- end }}
}

func (v {{.ModelStructName}}) ToDTO() (*{{.ModelStructName}}DTO, error) {
    var dto {{.ModelStructName}}DTO
    if err := copier.Copy(&dto, v); err != nil {
        return nil, err
    }
    return &dto, nil
}

func (v {{.ModelStructName}}) ParseDTO(dto *{{.ModelStructName}}DTO) error {
    return copier.Copy(dto, v)
}

type {{.ModelStructName}}Slice []*{{.ModelStructName}}

func (v {{.ModelStructName}}Slice) ToDTOs() ([]*{{.ModelStructName}}DTO, error) {
    dtos := make([]*{{.ModelStructName}}DTO, 0, len(v))
    if err := copier.Copy(&dtos, v); err != nil {
        return nil, err
    }
    return dtos, nil
}

func (v {{.ModelStructName}}Slice) ParseDTOs(dtos *[]*{{.ModelStructName}}DTO) error {
    return copier.Copy(dtos, v)
}

func (v {{.ModelStructName}}SDTO) ToT() (*{{.ModelStructName}}, error) {
    var entity {{.ModelStructName}}
    if err := copier.Copy(&entity, v); err != nil {
        return nil, err
    }
    return &entity, nil
}

func (v {{.ModelStructName}}SDTO) ParseT(entity *{{.ModelStructName}}) error {
    return copier.Copy(entity, v)
}

func (v {{.ModelStructName}}MDTO) ToT() (*{{.ModelStructName}}, error) {
    var entity {{.ModelStructName}}
    if err := copier.Copy(&entity, v); err != nil {
        return nil, err
    }
    return &entity, nil
}

func (v {{.ModelStructName}}MDTO) ParseT(entity *{{.ModelStructName}}) error {
    return copier.Copy(entity, v)
}

func (v {{.ModelStructName}}QDTO) ToT() (*{{.ModelStructName}}, error) {
    var entity {{.ModelStructName}}
    if err := copier.Copy(&entity, v); err != nil {
        return nil, err
    }
    return &entity, nil
}

func (v {{.ModelStructName}}QDTO) ParseT(entity *{{.ModelStructName}}) error {
    return copier.Copy(entity, v)
}

func (v {{.ModelStructName}}DTO) ToT() (*{{.ModelStructName}}, error) {
    var entity {{.ModelStructName}}
    if err := copier.Copy(&entity, v); err != nil {
        return nil, err
    }
    return &entity, nil
}

func (v {{.ModelStructName}}DTO) ParseT(entity *{{.ModelStructName}}) error {
    return copier.Copy(entity, v)
}
