package {{.PKG}}

import (
	"github.com/golang-acexy/cloud-database/databasecloud/rds"
	"github.com/golang-acexy/starter-gorm/gormstarter"
	"gorm.io/gorm"
{{- if .Pkg }}
	"{{ .Pkg }}"
{{- end }}
)

type {{.StructName}}Mapper struct {
	gormstarter.BaseMapper[model.{{.StructName}}]
}

func ({{.StructName}}Mapper) Columns() *model.{{.StructName}}Columns {
	return model.{{.StructName}}ColumnSet()
}

func (m {{.StructName}}Mapper) WithTxMapper(tx *gorm.DB) {{.StructName}}Mapper {
	return {{.StructName}}Mapper{
		BaseMapper: m.GetBaseMapperWithTx(tx),
	}
}

type {{.StructName}}Repo struct {
	rds.Repository[{{.StructName}}Repo, {{.StructName}}Mapper, model.{{.StructName}}]
}

// Columns 返回 {{.StructName}} 对应的类型安全字段集合。
func (r {{.StructName}}Repo) Columns() *model.{{.StructName}}Columns {
	return r.RawMapper().Columns()
}

var {{.ParamName}}Repo = new{{.StructName}}Repo()

func new{{.StructName}}Repo() {{.StructName}}Repo {
	repository := rds.NewRepository(
		{{.StructName}}Mapper{},
		func(repository rds.Repository[{{.StructName}}Repo, {{.StructName}}Mapper, model.{{.StructName}}]) {{.StructName}}Repo {
			return {{.StructName}}Repo{Repository: repository}
		},
	)
	return {{.StructName}}Repo{Repository: repository}
}

func New{{.StructName}}Repo() {{.StructName}}Repo {
	return {{.ParamName}}Repo
}

// 在此处扩展自定义 Mapper 能力。

// 在此处扩展自定义 Repository 能力。
