package {{.PkgName}}

import (
    model "{{.ModelPKG}}"
    biz "{{.BizPKG}}"
    "github.com/golang-acexy/cloud-web/webcloud"
    "github.com/golang-acexy/starter-gin/ginstarter"
)

var {{.ParamName}}Router = func() *{{.ModelStructName}}Router {
    bizService := biz.New{{.ModelStructName}}BizService()
    return &{{.ModelStructName}}Router{
    {{- if .WithAuthority }}
        BaseRouter: webcloud.NewBaseRouterWithAuthority[{{.IDType}}, model.{{.ModelStructName}}SDTO, model.{{.ModelStructName}}MDTO, model.{{.ModelStructName}}QDTO, model.{{.ModelStructName}}DTO](
            bizService,
            {{.AuthorityFetchCode}},
            webcloud.AuthorityDataField{
                StructField: "{{.AuthorityStructField}}",
                Column:      "{{.AuthorityColumn}}",
            },
        ),
    {{- else }}
        BaseRouter: webcloud.NewBaseRouter[{{.IDType}}, model.{{.ModelStructName}}SDTO, model.{{.ModelStructName}}MDTO, model.{{.ModelStructName}}QDTO, model.{{.ModelStructName}}DTO](bizService),
    {{- end }}
        bizService: bizService,
    }
}()

func New{{.ModelStructName}}Router() *{{.ModelStructName}}Router {
    return {{.ParamName}}Router
}

type {{.ModelStructName}}Router struct {
    *webcloud.BaseRouter[{{.IDType}}, model.{{.ModelStructName}}SDTO, model.{{.ModelStructName}}MDTO, model.{{.ModelStructName}}QDTO, model.{{.ModelStructName}}DTO]
    bizService *biz.{{.ModelStructName}}BizService
}

func (r *{{.ModelStructName}}Router) Info() *ginstarter.RouterInfo {
    return &ginstarter.RouterInfo{
        GroupPath: "{{.GroupPath}}",
    }
}

func (r *{{.ModelStructName}}Router) Handlers(router *ginstarter.RouterWrapper) {
{{- if not .DisableBaseHandler }}
    r.RegisterBaseHandlers(router, r)
{{- end }}
    // 在此处注册自定义业务路由。
}
